a {
  -moz-transition-duration:0.4s;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url(../img/light_wool.png);
}

h1, h2 {
  font-family: 'PT Serif', serif;
}

h1 {
  font-size: 36px;
  float: left;
}

h2 {
  font-size: 24px;
  margin: 0 0 6px;
}

header {
  overflow: auto;
  padding: 24px 0 48px;
}

.section {
  margin-bottom: 24px;
}

nav .active a:after {
  content: " \00BB";
  text-decoration: underline;
}

.employer {
  font-weight: bold;
}

.zeevo, .zeevo:hover {
  color: #742486;
}

.chroma, .chroma:hover {
  color: #3171b5;
}

.ipc, .ipc:hover {
  color: #046;
}

.freelancer {
  color: #192;
}

.github .forked-repositories, .github .less-repositories {
  display: none;
}
