a {
  -moz-transition-duration:0.4s;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
}

h1 {
  font-size: 3.4em;
  float: left;
}

h2 {
  font-size: 2.1em;
  margin: 0 0 0.2em;
}

header {
  overflow: auto;
  padding: 24px 0 48px;
}

section {
  margin-bottom: 24px;
}

nav .active a:after {
  content: " \00BB";
  text-decoration: underline;
}

.employer {
  font-weight: bold;
}

.zeevo, .zeevo:hover {
  color: #742486;
}

.chroma, .chroma:hover {
  color: #3171b5;
}

.ipc, .ipc:hover {
  color: #046;
}
